# ===== Maven =====
target/
!**/.mvn/wrapper/maven-wrapper.jar

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr
out/

# ===== VS Code =====
.vscode/

# ===== Logs y archivos del sistema =====
*.log
.DS_Store
Thumbs.db

# ===== Variables de entorno locales =====
.env